<h1 class="page-title"><%= translate(".title") %></h1>

<ul class="collection">
  <li class="collection__item">
    <a href="/books/1">
      <img src="http://via.placeholder.com/300/300" alt="">
      <h2>Ruby Science</h2>
    </a>
  </li>

  <li class="collection__item">
    <a href="/books/1">
      <img src="http://via.placeholder.com/300/300" alt="">
      <h2>Maybe Haskell</h2>
    </a>
  </li>

  <li class="collection__item">
    <a href="/books/1">
      <img src="http://via.placeholder.com/300/300" alt="">
      <h2>iOS on Rails</h2>
    </a>
  </li>

  <li class="collection__item">
    <a href="/books/1">
      <img src="http://via.placeholder.com/300/300" alt="">
      <h2>Testing Rails</h2>
    </a>
  </li>

  <li class="collection__item">
    <a href="/books/1">
      <img src="http://via.placeholder.com/300/300" alt="">
      <h2>Geocoding on Rails</h2>
    </a>
  </li>

  <li class="collection__item">
    <a href="/books/1">
      <img src="http://via.placeholder.com/300/300" alt="">
      <h2>Maintaining Open Source Projects</h2>
    </a>
  </li>

  <li class="collection__item">
    <a href="/books/1">
      <img src="http://via.placeholder.com/300/300" alt="">
      <h2>Backbone.js on Rails</h2>
    </a>
  </li>

  <li class="collection__item">
    <a href="/books/1">
      <img src="http://via.placeholder.com/300/300" alt="">
      <h2>Domain Name Sanity</h2>
    </a>
  </li>
</ul>
