<h1 class="page-title"><%= translate(".title") %></h1>

<ul class="collection">
  <%- books.each do |book| %>
    <li class="collection__item">
      <%= link_to book_path(book) do %>
        <%= image_tag(
          book.cover.attached? ?
            book.cover.variant(resize_and_pad: [300, 300]) :
            "http://via.placeholder.com/300/300",
          width: 300,
          height: 300,
          alt: "",
        ) %>
        <h2><%= book.title %></h2>
      <% end %>
    </li>
  <% end %>
</ul>
