<h1 class="page-title">Ruby Science</h1>

<section class="book">
  <img class="book__cover" src="http://via.placeholder.com/500/500" alt="">

  <article class="book__content">
    <h2>The reference for writing fantastic Rails applications</h2>

    <p>
      You build web applications, and you love Ruby on Rails because it provides a framework for developing applications that are are fast, fun, and easy to change. Over time these applications can become bloated, development slows down, and changes to the codebase become painful.
    </p>

    <p>
      This book was written to help you learn to detect emerging problems in your codebase; we’ll deliver the solutions for fixing them, and maintaining an application that will be fun to work on for years to come.
    </p>
  </article>

  <div class="book__actions">
    <p>$15.00</p>

    <button class="button button--primary">
      Add to Cart
    </button>
  </div>
</section>
