.button {
  padding: var(--base-spacing);
}

.button--primary {
  background-color: var(--primary-background-color);
  color: #fff
}

.button--destructive {
  background-color: var(--destructive-background-color);
  color: #fff
}
