.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__logo {
  width: var(--header-height);
}

.navigation__cart {
  color: var(--header-color);
  height: var(--header-height);
  width: var(--header-height);
  z-index: calc(var(--base-z-index) + 1);
}
